:root {
    --transition-short: .15s cubic-bezier(.33, 1, .68, 1);
    --transition-norm: .33s cubic-bezier(.33, 1, .68, 1);
    --transition-long: 1s cubic-bezier(.33, 1, .68, 1);
    --transition-very-long: 1.5s cubic-bezier(.33, 1, .68, 1);
    --transition-delay-short: .15s;
    --transition-delay-norm: .33s;
    --index: calc(1vw + 1vh);
    --color-white-always: #FFF;
    --color-black-always: #000;
    --color-text-p: #223;
    --color-back-main: #eeeff0;
    --color-back-second: #FFF;
    --color-gray: #9da6ad;
    --color-gray-light: #ccd0d8;
    --color-gray-dark: #4f5661;
    --color-gray-darkest: rgb(55, 62, 70);
    --color-main: #48B;
    --color-main-dark: #369;
    --color-main-light: #7AD;
    --color-footer-back: #888;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text-p);
    background-color: var(--color-back-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: var(--color-gray-dark);
    line-height: .85;
    margin-top: 2em;
    margin-bottom: .5em;
    color: var(--color-main);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1em;
}

pre {
    font-family: monospace;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1;
    border: solid 0.0625rem var(--color-gray-light);
    width: fit-content;
    background-color: var(--color-back-second);
    font-size: 1.25rem;
}

code {
    font-family: monospace;
    font-weight: 600;
    color: var(--color-gray-darkest);
}

table {
    width: 100%;
    margin: 2rem 0;
    border: 0.0625rem solid var(--color-gray);
    border-collapse: collapse;
}

td,
th {
    padding: 0.5rem;
    border: 0.0625rem solid var(--color-gray);
}

th {
    font-weight: 900;
}

ul>li,
ol>li {}

.line-height-1 {
    line-height: 1;
}

.line-height-small {
    line-height: 1.15;
}

.line-height-middle {
    line-height: 1.35;
}

img {
    height: auto;
    max-width: 100%;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

blockquote {
    font-style: italic;
    font-size: 1.375rem;
    padding: 1rem;
    margin: 1rem 0 2rem 2rem;
    color: var(--color-gray-dark);
    border-left: .125rem solid var(--color-main-light);
    background-color: var(--color-gray-lighter);
}

blockquote>p {
    margin: 0;
}

p:empty {
    display: none;
}

@media (pointer:coarse) {
    abbr[title] {
        position: relative;
        text-decoration: underline dotted
    }

    abbr[title]:hover::after,
    abbr[title]:focus::after {
        content: attr(title);
        position: absolute;
        left: 0;
        bottom: -2rem;
        width: fit-content;
        width: 35vw;
        background-color: var(--color-gray-light);
        color: var(--color-text-p);
        font-weight: 400;
        border-radius: .375rem;
        box-shadow: 0 0 1rem 0 #00000054;
        font-size: 1rem;
        padding: .75rem;
        display: block;
        z-index: 1
    }
}

.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.container-wide {
    width: calc(100% - 4rem);
    margin: 0 auto;
}

.container-narrow {
    width: 100%;
    max-width: 46rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.container-logos {
    position: relative;
    overflow: hidden;
}

.container-logos::before,
.container-logos::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 10%;
    top: 0;
    z-index: 1;
}

.container-logos::before {
    left: 0;
    background: linear-gradient(to right, var(--color-white) 30%, transparent)
}

.container-logos::after {
    right: 0;
    background: linear-gradient(to left, var(--color-white) 30%, transparent)
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-05 {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-8 {
    margin-bottom: 8rem !important;
}

.mt-8 {
    margin-bottom: 8rem !important;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pt-6 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.pt-8 {
    padding-top: 8rem !important;
}

.pb-8 {
    padding-bottom: 8rem !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-size-normal {
    font-size: 1.25rem;
}

.text-size-small {
    font-size: 1rem;
}

.text-size-tiny {
    font-size: .75rem;
}

.text-size-big {
    font-size: 1.75rem;
}

.text-size-large {
    font-size: 2.25rem;
}

.text-weight-100 {
    font-weight: 100;
}

.text-weight-200 {
    font-weight: 300;
}

.text-weight-300 {
    font-weight: 300;
}

.text-weight-400 {
    font-weight: 300;
}

.text-weight-500 {
    font-weight: 500;
}

.text-weight-600 {
    font-weight: 600;
}

.text-weight-700 {
    font-weight: 700;
}

.text-weight-800 {
    font-weight: 800;
}

.text-weight-900 {
    font-weight: 900;
}

.text-nowrap {
    text-wrap: nowrap;
}

.text-uppercase {
    text-transform: uppercase;
}

.va-middle {
    vertical-align: middle;
}

.text-balance {
    text-wrap: balance;
}

.text-color-white {
    color: var(--color-white-always);
}

.text-color-black {
    color: var(--color-black-always);
}

.text-color-p {
    color: var(--color-text-p);
}

.text-color-main {
    color: var(--color-main);
}

.text-color-main-light {
    color: var(--color-main-light);
}

.text-color-main-dark {
    color: var(--color-main-dark);
}

.text-color-gray {
    color: var(--color-gray);
}

.text-color-graydark {
    color: var(--color-gray-dark);
}

.grayscale {
    filter: grayscale(1);
}

.mark {
    padding: 0 .25rem .125rem .25rem;
}

.mark.mark-main-light {
    color: var(--color-text-p);
    background-color: var(--color-main-light);
}

.mark.mark-main {
    color: var(--color-back-main);
    background-color: var(--color-main);
}

.dark-mode .mark.mark-main {
    color: var(--color-black-always);
    background-color: var(--color-main);
}

.cursor-pointer {
    cursor: pointer;
}

.back-color-white {
    background-color: var(--color-white-always);
}

.back-color-black {
    background-color: var(--color-black-always);
}

.back-color-main {
    background-color: var(--color-back-main);
}

.back-color-second {
    background-color: var(--color-back-second);
}

.back-color-accent-dark {
    background-color: var(--color-main-dark);
}

.back-color-accent-light {
    background-color: var(--color-main-light);
}

.back-color-accent-main {
    background-color: var(--color-main);
}

.back-color-gray {
    background-color: var(--color-gray);
}

.back-color-gray-light {
    background-color: var(--color-gray-light);
}

.border-radius-05rem {
    border-radius: .5rem;
    overflow: hidden;
}

.border-radius-1rem {
    border-radius: 1rem;
    overflow: hidden;
}

.border-radius-2rem {
    border-radius: 2rem;
    overflow: hidden;
}

.border-radius-circle {
    border-radius: 50%;
    overflow: hidden;
}

.width-min {
    width: min-content;
}

.width-fit {
    width: fit-content;
}

.width-max {
    width: max-content;
}

.width-full {
    width: 100%;
}

.width-read {
    width: 100%;
    max-width: 40rem;
}

.height-full {
    height: auto;
    min-height: 100vh;
    min-height: 100svh;
}

.height-half {
    height: auto;
    min-height: 50vh;
    min-height: 50svh;
}

.height-62vh {
    height: auto;
    min-height: 62vh;
    min-height: 62svh;
}

.height-75vh {
    height: auto;
    min-height: 75vh;
    min-height: 75svh;
}

.hidden {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}

.none {
    display: none;
}

section.section {
    padding: 4rem 0;
}

.section-title {
    font-size: clamp(1.5rem, calc(var(--index)*2.5), 3rem);
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1.5rem;
    line-height: 1;
}

a:not(.button),
a:not(.button):visited {
    color: var(--color-main);
    text-decoration: none;
    will-change: auto;
}

a:not(.button):hover,
a:not(.button):focus,
a:not(.button):active {
    outline: none;
}

a:not(.button):focus-visible {
    color: inherit;
    outline: .0625rem dashed;
}

a,
button,
* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.back-color-accent-main a,
.back-color-accent-main-dark a {
    color: var(--color-back-main) !important;
}

.back-color-accent-main a:hover,
.back-color-accent-main-dark a:hover {
    color: var(--color-back-main) !important;
    opacity: .75;
}

.back-color-accent-main-light a {
    color: var(--color-text-p);
}

.back-color-accent-main-light a:hover {
    color: var(--color-text-p);
    opacity: .75;
}

.contact-form {}

.form-box {
    width: 100%;
    max-width: 46rem;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
    display: inline-block;
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    outline: none;
    padding: .75rem .5rem;
    transition: var(--transition-norm);
    max-width: 100%;
    -webkit-appearance: none;
    background-color: var(--color-back-main);
    color: var(--color-text-p);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
select:focus textarea:focus {
    border-color: var(--color-gray-light)
}

input[type="checkbox"] {
    margin-right: .25rem;
}

select {
    font-family: inherit;
    font-weight: 500;
    padding: .875rem 1rem;
    display: block;
    line-height: 1;
    position: relative;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select:selected {
    background-color: var(--color-gray-dark);
}

optgroup,
option {
    background-color: var(--color-white-clear);
    color: var(--color-black);
    font-weight: 500;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    border: .125rem solid var(--color-gray-light);
}

textarea {
    width: 100%;
}

input:read-only {
    font-weight: 600;
    color: var(--color-gray-dark);
}

label {
    font-size: .875rem;
    font-weight: 400;
    display: block;
    transition: var(--transition-short);
    transform: none;
    color: var(--color-gray-dark);
    line-height: 1;
}

label:has(+input[value=""]) {
    transform: translate3d(.75rem, 2rem, 0) scale(1.125);
    color: var(--color-main-dark);
    transform-origin: left;
}

.dark-mode label,
.dark-mode label:has(+input:focus) {
    color: var(--color-gray-light);
}

label:has(+input:focus) {
    transform: none;
    color: var(--color-gray-dark);
}

.back-color-accent-main label,
.back-color-accent-main-light label,
.back-color-accent-main label:has(+input:focus),
.back-color-accent-main-light label:has(+input:focus) {
    color: var(--color-text-p);
}

.card-form label,
.card-form label:has(+input:focus) {
    color: var(--color-gray-light);
}

.dark-mode .card-form label,
.dark-mode .card-form label:has(+input:focus) {
    color: var(--color-gray-dark);
}

.no-events {
    pointer-events: none;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-spacebetween {
    justify-content: space-between;
}

.flex-justify-spacearound {
    justify-content: space-around;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-item-half {
    flex: 1 1 50%;
}

.flex-item-10rem {
    flex: 1 1 10rem;
    max-width: 100%;
}

.flex-item-fix-10rem {
    flex: 0 0 10rem;
}

.flex-item-fix-20rem {
    flex: 0 0 20rem;
}

.flex-item-20rem {
    flex: 1 1 20rem;
    max-width: 100%;
}

.flex-item-fix-22rem {
    flex: 0 1 22rem;
}

.flex-item-30rem {
    flex: 1 1 30rem;
    max-width: 100%;
}

.flex-item-fix-30rem {
    flex: 0 1 30rem;
}

.flex-item-40rem {
    flex: 1 1 40rem;
    max-width: 100%;
}

.display-grid-31rem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(31rem, 100%), 1fr));
}

.display-grid-30rem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
}

.display-grid-20rem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}

.display-grid-12rem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
}

.display-grid-10rem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}

.display-grid {
    display: grid;
}

.gap-1rem {
    gap: 1rem;
}

.gap-2rem {
    gap: 2rem;
}

.display-grid-auto-1fr {
    display: grid;
    grid-template-columns: auto 1fr;
}

.grid-three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-column-span-2 {
    grid-column: 2 span;
}

.subgrid {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}

.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-clip {
    overflow-y: clip;
}

a.button,
button.button,
input[type="button"],
input[type="submit"] {
    position: relative;
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    min-width: 12rem;
    text-wrap: nowrap;
    color: var(--color-white-always);
    transition: var(--transition-norm);
    cursor: pointer;
    text-transform: none !important;
}

.button-main {
    background-color: var(--color-main);
    color: var(--color-white);
}

.button-main:hover,
.button-main:active,
.button-main:focus {
    background-color: var(--color-main-light);
    color: var(--color-white-always);
}

.button.button-gray {
    background-color: var(--color-gray);
    color: var(--color-white-always);
}

.button.button-gray:hover {
    background-color: var(--color-gray-light);
    color: var(--color-text-p);
}

.button.button-white,
.button.button-white:visited {
    background-color: var(--color-white-always);
    color: var(--color-black-always);
}

.dark-mode .button.button-white,
.dark-mode .button.button-white:visited {
    background-color: var(--color-white-always);
    color: var(--color-black-always);
}

.button.button-white:hover,
.button.button-white:active,
.button.button-white:focus {
    background-color: var(--color-gray-light);
    color: var(--color-main-dark);
}

a.button-icon,
button.button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: .5rem;
    aspect-ratio: 1;
    border: none;
    background-color: var(--color-main-light);
    opacity: .85;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-main-dark);
    cursor: pointer;
}

a.button-icon:visited,
a.button-icon:hover,
a.button-icon:active {
    color: var(--color-main-dark);
}

a.button-icon:hover,
button.button-icon:hover {
    transform: none;
    opacity: 1;
}

button.button-icon.theme-toggle {
    background-color: var(--color-main-dark);
    color: var(--color-main-light);
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-content: flex-start;
}

.button-group-wrapper {
    white-space: nowrap;
}

.button.button-group>.bx {
    font-size: 1.5rem;
}

.button.button-group>input[type="radio"] {
    font-size: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: contents;
}

.button.button-group {
    padding: .5rem;
}

.button.button-group:hover {
    transform: none;
    background-color: var(--color-gray-lighter);
}

.button.button-group.active,
.button.button-group[data-active="true"],
.button.button-group:has(>:checked) {
    background-color: var(--color-gray);
}

.button.button-group {
    border-radius: 0;
    display: inline;
}

.button.button-group:first-of-type {
    border-radius: .5rem 0 0 .5rem;
}

.button.button-group:last-of-type {
    border-radius: 0 .5rem .5rem 0;
}

.button.button-full-width {
    width: 100%;
}

label {
    cursor: pointer;
}

.icon-square {
    display: inline-flex;
    width: auto;
    aspect-ratio: 1;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    color: var(--color-white-always);
    opacity: 1;
}

a.fx-link {
    display: inline-block;
    position: relative;
    text-decoration: underline;
    padding: 0 .25rem;
    transition: var(--transition-norm);
    white-space: nowrap;
    z-index: 1;
}

a.fx-link:hover,
a.fx-link:focus,
a.fx-link:active {
    color: var(--color-back-main);
    opacity: 1;
}

a.fx-link:active {
    opacity: .5;
}

a.fx-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-text-p);
    transition: var(--transition-norm);
    transform-origin: left;
    transform: scaleX(0) translate3d(0, 0, 0);
    z-index: -1;
}

a.fx-link:hover:before,
a.fx-link:focus:before,
a.fx-link:focus-visible:before {
    transform: scaleX(1) translate3d(0, 0, 0);
    transition: var(--transition-norm);
    outline: none !important;
}

a.text-color-white,
a.text-color-white:hover,
a.text-color-white:focus,
a.text-color-white:active,
a.text-color-white:visited {
    color: var(--color-white-always);
}

a.text-color-white:before {
    background-color: var(--color-white-always);
}

.bx {
    vertical-align: middle;
}

button.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
    background-color: var(--color-back-second);
    color: var(--color-main-dark) !important;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    border: none;
    line-height: 1;
    cursor: pointer;
    transition: var(--transition-norm);
    z-index: 997;
    opacity: .75;
}

button.to-top>img {
    width: 1.5rem;
    aspect-ratio: 1;
}

button.to-top:hover {
    opacity: 1;
}

button.to-top>.bx {
    display: block;
}

button.to-top.hide {
    transform: scale(0);
    opacity: 0;
}

.the-card {
    padding: 2rem;
}

.the-card-small {
    padding: 1rem;
}

.btn-box {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-bar {
    background-color: var(--color-main);
    font-size: .875rem;
    font-weight: 600;
    color: #FFF;
}

.top-bar a,
.top-bar a:visited {
    color: #FFF;
}

.top-bar a:hover {
    color: #FFF;
}

.top-bar .bx {
    font-size: 1.75rem;
}

.header-wrapper {
    background-color: var(--color-white-clear);
}

.site-header {
    position: fixed;
    top: 0;
    padding: 3rem 0;
    z-index: 9;
    width: 100%;
    background-color: var(--color-back-main);
    transition: var(--transition-norm);
}

.site-header.sticky {
    padding: 1rem 0;
    box-shadow: 0 0 1rem #00000026;
}

.dark-mode .site-header.sticky {
    box-shadow: 0 0 1rem #000000BF;
}

.admin-bar .site-header {
    top: 32px;
}

.admin-bar .site-header.sticky {
    position: fixed;
    top: 32px;
    left: 0;
}

.site-branding {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    transform-origin: left center;
    transition: var(--transition-norm);
    will-change: transform;
}

.sticky .site-branding {}

.custom-logo {
    position: relative;
    display: block;
    width: clamp(8rem, calc(var(--index)*10), 12rem);
    transition: var(--transition-norm);
    z-index: 9;
    will-change: transform;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.site-footer {
    background-color: var(--color-back-main);
    color: var(--color-gray-dark);
    font-size: 1rem;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.dark-mode .site-footer {}

.site-footer h5.widget-title {
    color: var(--color-gray-dark);
    margin: 0 0 .5rem 0;
}

.site-footer .footer-widgets {
    margin: 0;
}

.site-footer a,
.site-footer a:hover,
.site-footer a:visited,
.site-footer a:focus {
    color: var(--color-gray-dark);
}

.site-footer .footer-widgets {
    color: var(--color-gray-dark);
}

.site-footer ul {
    padding: 0;
    margin: 0;
}

.site-footer li {
    list-style: none;
    margin-bottom: .5rem;
}

.site-info {
    background-color: var(--color-back-main);
    color: var(--color-gray-dark);
    font-size: .75rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
}

.site-footer .site-info a,
.site-footer .site-info a:hover,
.site-footer .site-info .site-info a:visited,
.site-footer .site-info a:focus {
    color: var(--color-gray-light);
}

.dark-mode .site-info {
    background-color: var(--color-white-clear);
}

.home .site-main {
    padding: 0;
}

.site-main {
    position: relative;
    background-color: var(--color-back-main);
    z-index: 2;
    min-height: 100vh;
    min-height: 100svh;
}

body:not(.home) .site-main {
    padding: 7.625rem 0 4rem 0;
}

.post-navigation .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.nav-next a>img,
.nav-previous a>img {
    transition: var(--transition-norm);
}

.post-navigation .nav-links .nav-next a,
.post-navigation .nav-links .nav-previous a {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-next a:hover>img:not(.nav-arrow),
.nav-previous a:hover>img:not(.nav-arrow) {
    transform: scale(1.2);
}

a img.nav-arrow,
a img.nav-arrow {
    position: absolute;
    display: block;
    filter: brightness(300);
    opacity: .5;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    object-fit: contain;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
}

a:hover img.nav-arrow,
a:hover img.nav-arrow {
    filter: brightness(300);
    opacity: .9;
}

.nav-previous img,
.nav-next img {
    display: block;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.nav-next img {
    margin-left: auto;
}

.single article.category-blog,
.comments-area {
    background-color: var(--color-white-clear);
    padding: 1rem;
}

.comments-area {
    margin-top: 4rem;
}

.entry-footer {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.page article.page {
    padding: 1rem;
    overflow: hidden;
}

.page article.page .post-thumbnail {
    margin: -1rem -1rem 0 -1rem;
}

.entry-header h1.entry-title {
    line-height: .85;
    color: var(--color-gray-dark);
    font-size: clamp(1rem, calc(var(--index)*1.5), 1.5rem);
}

.page h1.entry-title {
    margin: 0 0 1rem 0;
}

.entry-meta {
    display: none;
    font-size: .75rem;
    font-weight: 600;
    color: var(--color-gray-dark);
    margin-bottom: 1rem;
}

.comments-title {
    font-size: 1.25rem;
}

.comment-form p {
    margin: 0;
}

.comment-form p.form-submit {
    margin: 2rem 0 4rem 0;
}

.nav-title {
    font-weight: 600;
    font-size: .75rem;
    color: var(--color-gray);
    max-width: 8rem;
    display: inline-block;
}

.nav-title>.bx {
    font-size: 1.25rem;
    line-height: .5;
}

.faq-blocks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.faq-block {}

.faq-question {
    position: relative;
    background-color: var(--color-main-light);
    color: var(--color-black);
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 0;
    min-height: 3rem;
    line-height: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

button.faq-btn {
    position: absolute;
    top: calc(50% - 1rem);
    right: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-main);
    cursor: pointer;
    border: none;
}

button.faq-btn:active {
    background-color: var(--color-gray-dark);
}

button.faq-btn::before,
button.faq-btn::after {
    position: absolute;
    content: '';
    top: calc(50% - .0625rem);
    left: calc(50% - .375rem);
    width: .75rem;
    height: .125rem;
    background-color: var(--color-back-main);
}

.faq-btn::after {
    transition: var(--transition-long);
    rotate: -90deg;
    will-change: auto;
}

.faq_answer {
    background-color: transparent;
    color: var(--color-black);
    font-weight: 400;
    font-size: 1.125rem;
    padding: 1rem 1rem 0 1rem;
    transition: var(--transition-norm);
    overflow: hidden;
    height: auto;
    max-height: 0;
}

.faq_answer::-webkit-scrollbar {
    width: 0 !important;
    opacity: 0;
    background: transparent;
}

.faq_answer::-webkit-scrollbar-track {
    background: transparent;
}

.faq_answer::-webkit-scrollbar-thumb {
    background: transparent;
}

.faq-block.active>.faq_answer {
    max-height: 480px;
    overflow-y: auto;
    transition: .75s linear;
}

.faq-block.active>.faq-question>button.faq-btn {
    background-color: var(--color-gray-dark);
}

.faq-block.active>.faq-question>button.faq-btn::after {
    rotate: 180deg;
}

@media screen and (min-width:3200px) {
    html {
        font-size: 32px
    }
}

@media screen and (max-width:960px) {
    .negative-vertical-margin {
        margin: -5rem 0 -2rem 0
    }

    .section-more-text {
        padding: 8rem 0 4rem 0
    }
}

@media screen and (max-width:768px) {
    section.section {
        padding: 3rem 0
    }

    .top-bar {
        text-align: center
    }

    .container-wide {
        width: calc(100% - 2rem);
        margin: 0 auto
    }

    .container-topbar {
        flex-direction: column
    }

    .the-card {
        padding: 1rem
    }

    .single .flex-item-fix-20rem {
        flex: 1 1 20rem
    }

    .footer-container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .display-grid-auto-1fr {
        grid-template-columns: 1fr
    }

    .grid-three-column {
        display: grid;
        grid-template-columns: auto
    }

    .grid-column-span-2 {
        grid-column: unset
    }
}

@media screen and (max-width:480px) {
    html {
        font-size: 14px
    }

    h1 {
        font-size: 2.5rem
    }

    h2 {
        font-size: 2.25rem
    }

    h3 {
        font-size: 1.75rem
    }

    h4 {
        font-size: 1.5rem
    }

    .flex-justify-between h6 {
        font-size: 1rem
    }

    .site-title {
        display: none
    }

    .the-card-small {
        padding: .75rem
    }
}

@media screen and (max-width:320px) {
    html {
        font-size: 12px
    }

    .container {
        padding: 0 1rem
    }
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.trigger-on-scroll {
    will-change: transform;
}

.glass-back {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(.25rem) grayscale(1) brightness(.5);
    --webkit-backdrop-filter: blur(.25rem) grayscale(1) brightness(.5);
    transition: var(--transition-norm);
    transition-delay: var(--transition-delay-norm);
}

.show-box .glass-back {
    opacity: 1;
}

.form-box {
    position: relative;
    width: 100%;
    max-width: 32rem;
    background-color: var(--color-back-second);
    color: var(--color-text-p);
    padding: 1.5rem;
    border-radius: 0;
}

.form-popup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007F;
    justify-content: center;
    align-content: center;
    align-items: center;
    opacity: 0;
    padding: 0 1rem;
    transform: translateY(-102%);
    transition: var(--transition-norm);
    z-index: 9999;
}

.dark-mode .form-popup {
    background-color: #FFFFFF26;
}

.form-popup.show-box {
    opacity: 1;
    transform: translateY(0);
}

button.close-form {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: var(--color-back-main);
    color: var(--color-text-p);
    opacity: .75;
}

button.close-form:hover {
    opacity: 1;
}

span.close-form>img {
    display: block;
    width: 2rem;
}

.form-info {
    line-height: .85;
    font-size: .75rem;
}

html.toggled,
body.toggled,
html.show-box,
body.show-box {
    overflow: hidden
}

.message {
    padding: 2rem;
}

.message-success {
    color: #132;
    background-color: #DEE;
    border: solid .0625rem;
    border-radius: .25rem;
}

.message-error {
    color: #A45;
    background-color: #FEE;
    border: solid .0625rem;
    border-radius: .25rem;
}